@import "var";

body {
    background-color: #fcfcfc !important;
}

.ui-match-parent {
    display: block;
    width: 100%;
    height: 100%;
}
.ui-position-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.ui-page-header {
    z-index: 100;
}
.container {
    width: 100%;
}
.layout-header {
    border-bottom: 1px solid #ccc;
}
canvas {
    background-color:#fff;
    border:1px solid #444;
}
.layout-tool {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 48px;
    // padding: 8px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.layout-body {
    position: absolute;
    top: 102px;
    right: 0;
    left: 0;
    bottom: 0;
}
.layout-content {
    position: absolute;
    top: 48px;
    left: 16px;
    right: 320px;
    bottom: 0;
    border-right: 1px solid #ccc;
}
/**/
.attr-box {
    width: 320px;
    .body {
        padding: 16px;
    }
}
/**/
.template-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}
/**/
.empty-box {
    padding-top: 80px;
    text-align: center;
    .img {
        width: 120px;
    }
    .text {
        color: #999;
    }
}